<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949287044866-vdreoul445aiored18m149idr60jh1hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949287044866-vdreoul445aiored18m149idr60jh1hn</string>
	<key>API_KEY</key>
	<string>AIzaSyAfnqIn2dVOg8LjqCBrWGse00wAuKZ9xv8</string>
	<key>GCM_SENDER_ID</key>
	<string>949287044866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>indiv.tuongtang.isomorphicreact</string>
	<key>PROJECT_ID</key>
	<string>isomorphic-react-7a4d5</string>
	<key>STORAGE_BUCKET</key>
	<string>isomorphic-react-7a4d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949287044866:ios:595826659506bb7e70a41b</string>
	<key>DATABASE_URL</key>
	<string>https://isomorphic-react-7a4d5.firebaseio.com</string>
</dict>
</plist>